<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <h1>Cultivation Manual</h1>
    <div class="main">
      <div class="attributes">
        <div class="attr">
          <div class="name">Willpower</div>
          <div class="level">
            <div>Level</div>
            <div>0</div>
            <meter class="level" value="1" min="0" max="10"></meter>
          </div>
        </div>
      </div>
      <div class="center-image">
        <img src="./images/body.jpg" style="height: 200px; width: 200px" />
      </div>
      <div class="attr"></div>
    </div>
    <button class="increase">Increase Willpower</button>
    <button class="decrease">Decrease Willpower</button>
  </body>
</html>
